Repository jmriebold/sqs-prometheus-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.6.2
    hooks:
      - id: golangci-lint
        name: golangci-lint
        description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
        entry: golangci-lint run --new-from-rev HEAD --fix
        types: [go]
        language: golang
        require_serial: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$
      - id: go-test
        name: go test
        entry: go test
        language: system
        pass_filenames: false
        always_run: true

fix(pre-commit full check + fixes for v2):
  .pre-commit-config.yaml
  main_test.go
Due: go-fmt

fix(linting action): upgrade 6 -> 9
  .github/workflows/test.yaml
Due: none

fix(actions): upgrade setup-go
  .github/workflows/build.yaml
Due: none

fix(actions): upgrade setup-go
  .github/workflows/test.yaml
Due: none

feat(go version upgrade + package bumps): (#31)
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .golangci.yml
  .pre-commit-config.yaml
  .tool-versions
  Dockerfile
  go.mod
  go.sum
  main.go
  main_test.go
Due: go-fmt, go-mod-tidy
